*{
    box-sizing: border-box;
}
body{
font-family: 'Roboto', sans-serif;
margin: 0;
    padding: 0;
    color: rgba(0,0,0,0.8);
    position: relative;
    min-height: 100vh;
}
#container1{
    background-color: #ffc017;
    color: #191919;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;   
}
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: sticky;
}
ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
li{
    padding: 10px;
}
a{
    text-decoration: none;
    color: #191919;
}
.btn1,
.btn2{
    color: #cccccc;
    background-color: #181919;
    border-radius: 25px;
    cursor: pointer;
}
hr{
    margin: 0;
    border: 0.5px solid #191919;
}
#container2{
    display: block;
    background-color: #ffc017;
    color: #191919;
    height: 60vh;
    margin-top: 60px;
    margin-bottom: 40px;
    border-bottom:1px solid #191919;
}
.main{
    padding-top: 40px;
    padding-left: 30px;
     display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: baseline;
}
h1{
    font-size: 55px;
    font-family: 'Spectral', serif;
    padding-bottom: 10px;
}
p{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    padding-bottom: 10px;
}
.btn2{
    padding: 10px;
}
#container3{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom:1px solid #e6e7e7;
}
.trending{
    display: flex;
    align-items: center;
    margin-left: 60px;
}
h5{
    font-weight: bold;
    
}
.comment{
    display: flex;
    flex-direction: row;
   /* flex-wrap: nowrap;*/
   flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 20px;
    
}
.number{
    color: #e6e7e7;
    font-weight: bold;
    font-size: 30px;
    margin-right: 15px;
}
.name{
    display: flex;
    align-items: center;
    margin-left: 5px;
}
.name img{
    border-radius: 100%;
    width: 25px;
    
}
.name p{
    font-weight: bold;
}
h6{
    color: black;
    font-weight: bold;
}
.date{
    display: flex;
    align-items: center;
    color: #757575;
    font-size: 13px;
    margin-top: 10px;
}
#container4{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
h5{
    font-weight: bold;
}
.user2{
        display: flex;
        align-items: center;
        margin-left: 5px;
}
.user2 img{
    border-radius: 100%;
}
.user2 p{
    font-weight: bold;
    color: black;
    margin: 20px;
}
h5{
    font-weight: bold;
}
.date2{
    color: #757575;
}
.img-article{
    display: flex;
    flex-direction: row-reverse
}
.btn-article{
    border-radius: 100%;
    border-color: #c9c7c7;
    color: #757575;
    background-color: #c9c7c7;
    padding: 0;
}
#container5{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
}
.aside-title{
    font-weight: bold;
    display: flex;
    align-content: center;
}
.aside-btn a{
    display: flex;
    border: 1px solid #181919;
}
.aside-btn{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-between;
    align-items: center;
    border-bottom:1px solid #e6e7e7;
}